<layout name="layout3">
    <code>
        <%  
            $model.pageTitle = ($model.pageTitle ?? '').toString().trim();
            if($model.pageTitle == '')
                $model.pageTitle =  'Index'; 
            else
                $model.pageTitle +=  ' - Index'; 
        %>
    </code>
    <section name="styles">
        <style>
            table{
                margin: 10px;
                border-color: #f00 !important;
            }
        </style>
    </section>
    <section name="scripts">
        <script>
            console.log(`IndexPage: Hello. I'm Pouya Faridi.`);
        </script>
    </section>

    <body>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Serial</th>
                    <th>Name</th>
                    <th>Surname</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < $model.people.length; i++) { %>
                    <tr>
                        <th>
                            <%= (i+1)%>
                        </th>
                        <td>
                            <%= $model.people[i].serial %>
                        </td>
                        <td>
                            <%= $model.people[i].name %>
                        </td>
                        <td>
                            <%= $model.people[i].surname %>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </body>
</layout>