<!DOCTYPE html>
<html>

<head>
    <title><%- this.$viewBag.title %></title>
    <section:styles/>
</head>

<body>
    <h3>I'm Layout Two</h3>
    <hr />
    <section:body/>
    <section:scripts/>
</body>

</html>