<% $model.pageTitle=($model.pageTitle ?? '' ).toString().trim(); if($model.pageTitle=='' ) $model.pageTitle='Layout2' ;
    else $model.pageTitle +=' - Layout2' ; %>
    <!DOCTYPE html>
    <html>

    <head>
        <title>
            <%= $model.pageTitle %>
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
        <render-section name="styles" />
    </head>

    <body>
        <h3>I'm Layout Two</h3>
        <h5>
            <%= $model.pageTitle %>
        </h5>
        <hr />
        <render-body />
        <hr />
        <footer>
            <h3>Footer of Layout2</h3>
        </footer>
        <render-section name="scripts" />
    </body>

    </html>