<layout name="layout2">
    <code>
        <%  
            $model.pageTitle = ($model.pageTitle ?? '').toString().trim();
            if($model.pageTitle == '')
                $model.pageTitle =  'Layout3'; 
            else
                $model.pageTitle +=  ' - Layout3'; 
        %>
    </code>
    <section name="styles">
        <style>
            fieldset {
                margin: 3rem;
                border: 2px double #00f;
                padding: 2rem;
            }
        </style>
        <render-section name="styles" />
    </section>
    <section name="scripts">
        <script>
            console.log(`Layout3: I'm Layout3.`);
        </script>
        <render-section name="scripts" />
    </section>

    <body>
        <fieldset>
            <legend>Layout 3</legend>
            <render-body />
        </fieldset>
    </body>
</layout>